.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}

/* Hero Section */
.heroSection {
  background-color: #1b2129;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.collectionImage {
  border-radius: 20px;
  overflow: hidden;
  margin-right: 2rem;
}

/* Claim Container */
.claimContainer {
  display: flex;
  align-items: center;
}

.claimValue {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.claimInput {
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  margin: 0 0.25rem;
  width: 30%;
  text-align: center;
  background-color: #333;
}

.claimBtn {
  background-color: #fff;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* NFT Card */
.NFTCard {
  background-color: #1b2129;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 2rem;
  max-width: 32%;
  margin: 0.5%;
}

/*Responsive*/

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
  .title {
    font-size: 2rem;
  }

  .grid {
    flex-direction: column;
    gap: 10px;
  }

  .card,
  .NFTCard {
    max-width: 100%;
  }

  .gradientText0,
  .gradientText1,
  .gradientText2,
  .gradientText3 {
    font-size: 1rem;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .title {
    font-size: 2.5rem;
  }

  .grid {
    flex-direction: row;
    gap: 15px;
  }

  .card,
  .NFTCard {
    max-width: 48%;
  }

  .gradientText0,
  .gradientText1,
  .gradientText2,
  .gradientText3 {
    font-size: 1.5rem;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  .title {
    font-size: 3rem;
  }

  .grid {
    gap: 20px;
  }

  .card,
  .NFTCard {
    max-width: 32%;
  }

  .gradientText0,
  .gradientText1,
  .gradientText2,
  .gradientText3 {
    font-size: 2rem;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  .title {
    font-size: 3.5rem;
  }

  .grid {
    gap: 25px;
  }

  .card,
  .NFTCard {
    max-width: 24%;
  }

  .gradientText0,
  .gradientText1,
  .gradientText2,
  .gradientText3 {
    font-size: 2.5rem;
  }
}
